// Variáveis
$corheader: #00843D; // Verde padrão do Instituto Federal
$cor-text-header: #000; // Preto para o texto do título

// Estilo do Header
#header {
    background-color: $corheader;
    padding: 1rem;
}

#footer {
    background-color: $corheader;
    padding: 1rem;
    text-align: center;
}

.card {
    border-radius: 0.5rem;
}

.progress-bar {
    font-weight: bold;
    text-align: center;
}
