// Import Bootstrap SCSS
@import 'bootstrap/scss/bootstrap';

// Variáveis
$corheader: #00843D; // Verde padrão do Instituto Federal
$cor-text-header: #000; // Preto para o texto do título


// Custom styles for login
body {
    font-family: 'Nunito', sans-serif;
}
// Estilo do Header
#login-header {
    background-color: $corheader;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;

    h1 {
        margin: 0;
        color: $cor-text-header;
        font-size: 1.2rem;
        font-weight: bold;
    }

    img {
        height: 50px; // Ajuste conforme necessário para o logo
    }
}
//lOGIN
/* Card de Login */
.login-card {
    background: #fff;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título do Card */
.login-card h4 {
    font-weight: bold;
    color: #2E7D32;
    text-align: center;
}

/* Botão de Entrar */
.btn-success {
    background-color: #2E7D32;
    border: none;
}

.btn-success:hover {
    background-color: #1B5E20;
}

/* Link para Servidor */
.text-center a {
    color: #2E7D32;
}

.text-center a:hover {
    text-decoration: underline;
}



//Footer
#login-footer {
    background-color: $corheader;
}

.card {
    border-radius: 0.5rem;
}

button {
    font-weight: bold;
}
