@import "tailwindcss";
@source "../views";

[x-cloak] { display: none !important; }

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track{
  background: #2D3748;
}

::-webkit-scrollbar-thumb{
  background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover{
  background: #718096;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Inter', sans-serif;
}

html {
  font-size: 16px; /* Desktop */
}

@media (max-width: 768px) {
  html {
    font-size: 12px; /* Mobile - ajuste este valor */
  }
}
