/* Estilização Global */
body {
  font-family: Arial, sans-serif;
}

/* Header */
header h5 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

header small {
  font-size: 0.8rem;
}

/* Navbar */
.navbar-nav .nav-link {
  font-size: 0.9rem;
}

/* Container Cinza Claro */
.bg-light-gray {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
}

/* Tabela */
.table th, .table td {
  vertical-align: middle;
}

/* Rodapé */
.bg-footer {
  background-color: green; /* Cinza Claro */
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}
